@model Aeolian.Models.User

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Authenticate">
    <div class="mb-3">
        <label asp-for="username" class="form-label">Username</label>
        <input asp-for="username" class="form-control" id="usernameInput" aria-describedby="usernameHelp">
    </div>
    <div class="mb-3">
        <label asp-for="password" class="form-label">Password</label>
        <input asp-for="password" class="form-control" id="passwordInput">
    </div>
    <button type="submit" value="Authenticate" class="btn btn-primary">Submit</button>
</form>